* {
	font-size: 14px;
}

li {
	opacity: 0.9;
	cursor: pointer;
}

li:hover {
	opacity: 1;
}

.loader--center {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}