.container {
	list-style: none;
	text-decoration: none !important;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.page {
	padding: 5px 13px;
	margin: 2px;
	border-radius: 4px;
	border: 1px solid #999999;
}

.previous {
	padding: 7px 12px;
	margin-right: 5px;
	border-radius: 4px;
	border: 1px solid #999999;
}


.next {
	padding: 7px 12px;
	margin-left: 5px;
	border-radius: 4px;
	border: 1px solid #999999;
}

.active {
	background: #007bff;
	color: #eeeeee;
}

.img {
	max-width: 300px;
	min-width: 250px;
	height: 200px;
	width: auto;
	margin: auto;
	object-fit: contain;
	overflow: hidden;
}

.desc {
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}